<div fxLayout="column"
     fxLayoutAlign="start stretch">
<!--  <div class="table-header"-->
<!--       fxFlexOrder="1"-->
<!--       fxLayoutAlign="stretch">-->
<!--    <mat-form-field>-->
<!--      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
<!--    </mat-form-field>-->
<!--  </div>-->
  <div class="unit-table-container mat-elevation-z4"
       fxFlexOrder="2"
       fxFlexFill>
    <mat-table class="table-responsive" [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="deviceName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{row.deviceName}}
        </mat-cell>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="deviceTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Time</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{row.deviceTime | timestampToDate | date:'MM-dd-yyyy, HH:mm'}}
        </mat-cell>
      </ng-container>

      <!-- Street Column -->
      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Street</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{row.address?.subThoroughfare}}&nbsp;{{row.address?.thoroughfare}}
        </mat-cell>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> City</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{row.address?.locality}}
        </mat-cell>
      </ng-container>

      <!-- Landmarks Column -->
      <ng-container matColumnDef="landmarks">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Landmarks</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{getLandmarkIds(row.landmarks)}}
        </mat-cell>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let row"
                  [style.color]="rowColor (row)">
          {{row.deviceId}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [style.background]="rowBackground (row)"
               (tap)="onRowTap(row)">
      </mat-row>
    </mat-table>

    <mat-paginator fxLayoutAlign="start"
                   [pageSizeOptions]="[20, 50, 100]"
                   (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>
