<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Interface for viewing, updating, and creating devices.
    </p>
    <p>
      <i>Name: </i> A device name meaningful to users of the account.
    </p>
    <p>
      <i>Device ID: </i> A globally unique id that is included in all events sent from the device.
    </p>
    <div>
      <i>Map Marker Icon: </i> Icon shapes, sizes, and colors may be customized for each device. A default icon may also be
      created for the account. If no icons specific to the device or if no default account icon is created, a system default
      icon is used.
      <div style="margin-left: 20px;">
        <p>
          <i>Shape: </i> Choice of available icon shapes.
        </p>
        <p>
          <i>Scale: </i> Icon size.
        </p>
        <p>
          <i>Fill Color: </i> CSS Icon color code.
        </p>
        <p>
          <i>Fill Opacity: </i> Icon body transparency.
        </p>
        <p>
          <i>Fill Color: </i> CSS Icon outline color code.
        </p>
        <p>
          <i>Outline Opacity: </i> Icon outline transparency.
        </p>
        <p>
          <i>Outline Weight: </i> Icon outline thickness.
        </p>
        <p>
          <i>Use Icon Default Button: </i> When enabled, a click on this button erases the specific icon settings for the
          device, so that the default account icon will be used.
        </p>
        <p>
          <i>Make this Icon Default Button: </i> When enabled, a click on this button creates a new default icon for the
          current account.
        </p>
      </div>
    </div>
  </div>
</div>
