<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Interface for viewing, updating, and creating account users.
    </p>
    <p>
      <i>Email: </i> The user's email address, which is also the user's unique ID.
    </p>
    <p>
      <i>Account Role: </i> The user's authorization role within the current account.
    </p>
    <p>
      <i>Name: </i> The user's name as known to the account operators.
    </p>
    <p>
      <i>Phone: </i> The phone number is required for user's wanting to receive text notifications.
    </p>
  </div>
</div>
