<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Lists all landmarks defined for the account.
    </p>
    <p>
      Click on a landmark table row to find the corresponding marker on the map.
    </p>
    <p>
      To see all details for a landmark, first select it in the table, then click on the <i>LANDMARK</i> link above the table.
    </p>
    <p>
      To modify an existing landmark or to create a new landmark, go to <i>SETUP - Landmarks/Landmark</i>.
    </p>
  </div>
</div>
