<mat-toolbar id="navbar-container" color="primary"
             fxFlex="100%"
             fxLayout="row"
             fxLayoutGap="20px">
  <div fxFlex
       fxLayout="row"
       fxFlexOrder="1"
       fxLayoutGap="10px"
       style="padding-left: 10px">
    <!-- Less than medium -->
    <div *ngIf="isSignedIn"
         fxShow="false"
         fxShow.lt-md="true"
         style="height: 35px;">
      <button mat-icon-button (click)="onDrawerBtnClick()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logo">
      <div fxFlex
           fxLayout="column"
           fxLayoutAlign="space-around start">
        <div class="exelor-logo">e<sup style="font-size: 12px;">x</sup>elor</div>
        <div class="txt-logo">T R A C K E R</div>
      </div>
      <img class="logo" src="/assets/tracker_white.png">
    </div>
    <!-- Less than medium -->
    <div *ngIf="isSignedIn"
         fxFlex="100%"
         fxLayoutAlign="center"
         fxShow="false"
         fxShow.lt-md="true"
         class="current-account">
        {{authService.currentUserAccountId}}
    </div>
    <!---->
  </div>
  <!-- Not less than medium -->
  <div *ngIf="isSignedIn"
       fxFlexOrder="2"
       fxFlex="100%"
       fxShow="true"
       fxShow.lt-md="false">
    <div class="page-row"
         fxFlexOrder="1"
         fxLayout="row"
         fxLayoutAlign="space-around end">
      <div>
        <a href="#" mat-button
           [routerLink]="['locations']"
           [routerLinkActive]="['active-page']"
           matTooltip="Units and Places page">
          LOCATIONS
        </a>
      </div>
      <div>
        <a href="#" mat-button
           [routerLink]="['notifications']"
           [routerLinkActive]="['active-page']"
           matTooltip="Conditional notifications">
          NOTIFICATIONS
        </a>
      </div>
      <div>
        <a href="#" mat-button
           [routerLink]="['reports']"
           [routerLinkActive]="['active-page']"
           matTooltip="Reorts page">
          REPORTS
        </a>
      </div>
      <div>
        <a href="#" mat-button
           [routerLink]="['setup']"
           [routerLinkActive]="['active-page']"
           matTooltip="Account and user setup page">
          SETUP
        </a>
      </div>
      <div *ngIf="isDevMode">
        <a href="#" mat-button
           [routerLink]="['simulator']"
           [routerLinkActive]="['active-page']"
           matTooltip="Test simulation page">
          SIMULATOR
        </a>
      </div>
    </div>
    <div fxFlex
         fxFlexOrder="2"
         fxLayoutAlign="end">
      <div class="account"
           fxFlexOrder="1"
           fxLayout="row"
           fxLayoutAlign="center center"
           matTooltip="Current account">
        <mat-select [(ngModel)]="authService.currentUserAccountId"
                    *ngIf="authService.userAccountIds?.length > 1 else singleAccount"
                    (ngModelChange)="selectedUserAccountId = $event"
                    name="accountId">
          <mat-option *ngFor="let accountId of authService?.userAccountIds" [value]="accountId">
            {{accountId}}
          </mat-option>
        </mat-select>
        <ng-template #singleAccount>
            {{authService.currentUserAccountId}}
        </ng-template>
      </div>
      <div fxFlexOrder="2"
           fxLayoutAlign="end"
           matTooltip="Currently signed in user">
        <button mat-button id="user-dropdown" [matMenuTriggerFor]="userMenu">
          {{authService?.getUserId()}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="onSignOutClick()">Sign Out</button>
          <hr style="margin: 2px 0"/>
          <button mat-menu-item (click)="onPreferencesClick()">Preferences</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!---->
  <div *ngIf="isSignedIn"
       fxFlexOrder="3"
       style="padding-right: 15px">
    <button mat-icon-button matTooltip="Help" (click)="onHelpBtnClick()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</mat-toolbar>
