
mat-card {
  padding: 0;
  margin-left: 4px;
}

agm-map {
  height: calc(100vh - 160px);
  width: 100%; margin: 0
}
.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 25%;
}
