.sebm-google-map-container {
  height:calc(100vh - 170px);
  width: 100%;
}

.mat-card {
  padding: 0 !important;
  margin: 0 0 0 5px;
  width: inherit;
}

.landmark-map {
  cursor: pointer;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 25%;
}
