<div *ngIf="!!landmark">
  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <agm-map [fitBounds]="false"
               [latitude]="landmark.latitude"
               [longitude]="landmark.longitude"
               [zoom]="zoom"
               (mapReady)="onMapReady($event)"
               (mapClick)="onMapClick($event)">
        <agm-marker *ngIf="landmark.landmarkId"
                    [latitude]="landmark.latitude - 0.0002"
                    [longitude]="landmark.longitude"
                    [iconUrl]="landmarkIcon"
                    [agmFitBounds]="true"
                    (mouseOver)="onMouseOver(infoWindow)"
                    (mouseOut)="onMouseOut(infoWindow)">
          <agm-info-window [disableAutoPan]="false" #infoWindow>
            <div>
              {{landmark.landmarkId}}
            </div>
          </agm-info-window>
        </agm-marker>
        <agm-circle
          [latitude]="landmark.latitude"
          [longitude]="landmark.longitude"
          [radius]="landmark.radius"
          [fillColor]="landmark.color"
          [circleDraggable]="false"
          [editable]="false">
        </agm-circle>
      </agm-map>
    </mat-card-content>
  </mat-card>
</div>

<div class="spinner">
  <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
</div>
