<div>
  <div class="help-section">Principal View User Interfaces</div>
  <ul class="help-ul">
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.princAccounts)">
        {{ref.princAccounts}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.princAccount)">
        {{ref.princAccount}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.princAccountConstraints)">
        {{ref.princAccountConstraints}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.princUsers)">
        {{ref.princUsers}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.princDevices)">
        {{ref.princDevices}}
      </div>
    </li>
  </ul>
  <div class="help-section">Account View User Interfaces</div>
  <ul class="help-ul">
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.locUnits)">
        {{ref.locUnits}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.locUnit)">
        {{ref.locUnit}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.locUnitDetails)">
        {{ref.locUnitDetails}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.locLandmarks)">
        {{ref.locLandmarks}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.locLandmark)">
        {{ref.locLandmark}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.notifications)">
        {{ref.notifications}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.notification)">
        {{ref.notification}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.reports)">
        {{ref.reports}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actActivityReport)">
        {{ref.actActivityReport}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.setup)">
        {{ref.setup}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.actUserAccounts)">
        {{ref.actUserAccounts}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actUsers)">
        {{ref.actUsers}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actUser)">
        {{ref.actUser}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.actDevices)">
        {{ref.actDevices}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actDevice)">
        {{ref.actDevice}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.actLandmarks)">
        {{ref.actLandmarks}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actLandmark)">
        {{ref.actLandmark}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.actNotificationSubscriptions)">
        {{ref.actNotificationSubscriptions}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actNotificationSubscription)">
        {{ref.actNotificationSubscription}}
      </div>
    </li>
    <li>
      <div class="help-link margin"
           (click)="onItemClick(ref.actNotificationSubscribers)">
        {{ref.actNotificationSubscribers}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.actNotificationSubscriber)">
        {{ref.actNotificationSubscriber}}
      </div>
    </li>
  </ul>
  <div class="help-section margin">Testing User Interfaces</div>
  <ul class="help-ul">
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.simulatorEvents)">
        {{ref.simulatorEvents}}
      </div>
    </li>
    <li>
      <div class="help-link"
           (click)="onItemClick(ref.simulatorMoveEvent)">
        {{ref.simulatorMoveEvent}}
      </div>
    </li>
  </ul>
</div>
