<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      For viewing and modifying the service constraints for the account.
    </p>
    <p>
      <i>Devices</i>: The maximum number of devices permitted on the account.
    </p>
    <p>
      <i>Users</i>: The maximum number of users permitted on the account.
    </p>
    <p>
      <i>Landmarks</i>: The maximum number of landmarks permitted on the account.
    </p>
    <p>
      <i>Notification Subscribers</i>: The maximum number of notification subscribers permitted on the account.
    </p>
    <p>
      <i>Events/Month</i>: The maximum number of input events accepted per month.
    </p>
    <p>
      <i>Notifications Emails/Month</i>: The maximum number of emails that can be sent per month.
    </p>
    <p>
      <i>Notifications Texts/Month</i>: The maximum number of text messages that can be sent per month.
    </p>
    <p>
      <i>Service Expiration</i>: The last month that input events will be accepted to the account.
    </p>
  </div>
</div>
