<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Interface for viewing, updating, and creating notification subscriptions.
    </p>
    <p>
      <i>Subscription Name: </i> A unique ID within the account.
    </p>
    <p>
      <i>Landmark: </i> One of the landmarks defined for the account.
    </p>
    <p>
      <i>Device Names: </i> One or more devices belonging to the account.
    </p>
    <p>
      <i>Activity: </i> Either <i>Arrival</i> or <i>Departure</i>.
    </p>
  </div>
</div>
