<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Interface for viewing, updating, and creating notification subscribers.
    </p>
    <p>
      Subscribers receive email and text messages for notifications issued for the current account.
    </p>
    <p>
      <i>Subscriber: </i> The email address of a user having access to the account.
    </p>
    <p>
      <i>Subscription: </i> A notification description defined for the account.
    </p>
    <p>
      <i>Email Notification: </i> Checked for users wanting to receive email notifications.
    </p>
    <p>
      <i>Text Message Notification: </i> Checked for users wanting to receive text notifications.
    </p>
  </div>
</div>
