<div class="constraint" fxLayoutAlign="center">
  <form fxFlex.gt-xs="400px"
        fxLayout="column"
        [formGroup]="accountForm"
        (ngSubmit)="onSubmit()">
    <div class="account-name">
      {{accountId}} Account Resource Limits
    </div>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('devices')}}"
             formControlName="maxDevices">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('users')}}"
             formControlName="maxUsers">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('landmarks')}}"
             formControlName="maxLandmarks">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('notificationSubscriptions')}}"
             formControlName="maxNotificationSubscriptions">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('notificationSubscribers')}}"
             formControlName="maxNotificationSubscribers">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('monthlyEvents')}}"
             formControlName="maxMonthlyEvents">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('monthlyNotificationEmails')}}"
             formControlName="maxMonthlyNotificationEmails">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="number"
             matInput
             required
             placeholder="{{constraintNames.get('monthlyNotificationTexts')}}"
             formControlName="maxMonthlyNotificationTexts">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="text"
             matInput
             required
             placeholder="{{constraintNames.get('serviceExpiration')}}"
             formControlName="serviceExpiration">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="text"
             matInput
             placeholder="{{constraintNames.get('modifiedAt')}}"
             formControlName="modifiedAt">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="text"
             matInput
             placeholder="{{constraintNames.get('comment')}}"
             formControlName="comment">
    </mat-form-field>

    <div class="error" fxLayoutAlign="center start">
      {{msg}}
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="cancel-button"
              type="button"
              mat-raised-button
              color="primary"
              (click)="onCancel()">
        Cancel
      </button>
      <button type="submit"
              mat-raised-button color="primary"
              [disabled]="accountForm.invalid || accountForm.pristine">
        Save
      </button>
    </div>
  </form>
</div>
