<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Lists the notifications being subscribed to for the current account.
    </p>
    <p>
      A notification subscription will, when the set conditions are met, cause an entry to be made in the
      <i>NOTIFICATIONS</i> list. In addition to this list, <i>Notification Subscribers</i> can be created for sending email and text
      messages to registered account users.
    </p>
    <p>
      Notification subscriptions having been assigned multiple devices will have a more (...) symbol in their
      <i>Devices</i> field. Click to the right of the symbol to open up the list of devices.
    </p>
    <p>
      Double-click on a subscription row to view and edit that subscription.
    </p>
    <p>
      Currently, notifications can be issued for landmark arrivals and departures.
    </p>
  </div>
</div>
