<div fxFlex="100%" fxLayout="row">
  <div fxFlex
       fxLayout="row">
    <kendo-splitter orientation="horizontal" style="height: 100%;">
      <kendo-splitter-pane [collapsible]="true" size="30%">
        <div class="locations-pane"
          fxFlex="100%"
          fxShow="true"
          fxShow.lt-md="false">
          <div class="header-row"
               fxLayout="row"
               fxLayoutAlign="start">
            <div>
              <a href="#" mat-button
                 [routerLink]="['units']"
                 [routerLinkActive]="['active-locations']">
                UNITS
              </a>
            </div>
            <div [ngClass]="{'disabled': unitHistoryDisabled()}">
              <a href="#" mat-button
                 [disabled]="unitHistoryDisabled()"
                 [routerLink]="['unit-history']"
                 [routerLinkActive]="['active-locations']">
                UNIT
              </a>
            </div>
            <div [ngClass]="{'disabled': unitInfoDisabled()}">
              <a href="#" mat-button
                 [disabled]="unitInfoDisabled()"
                 [routerLink]="['unit-details']"
                 [routerLinkActive]="['active-locations']">
                DETAILS
              </a>
            </div>
            <div class="separator">|</div>
            <div [ngClass]="{'disabled': placesDisabled()}">
              <a href="#" mat-button
                 [disabled]="placesDisabled()"
                 [routerLink]="['places']"
                 [routerLinkActive]="['active-locations']">
                PLACES
              </a>
            </div>
            <div [ngClass]="{'disabled': placeDisabled()}">
              <a href="#" mat-button
                 [disabled]="placeDisabled()"
                 [routerLink]="['place']"
                 [routerLinkActive]="['active-locations']">
                PLACE
              </a>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </kendo-splitter-pane>
      <kendo-splitter-pane [collapsible]="true">
        <div class="map-pane">
          <app-map></app-map>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </div>
</div>
