
a {
  color: #3f51b5;
}

a:hover {
  font-weight: bold;
  font-size: small;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

.header-row {
  padding: 6px;
}

.separator {
  width: 0;
  height: 25px;
  border: 1px solid #3f51b5;
  margin: 4px 5px 0 5px;
  color: #fafafa;
}

.locations-pane {
  padding: 0;
  margin: 4px;
  height: 1vh;
}

.map-pane {
  padding: 0;
}

mat-card {
  margin: 4px;
}

.active-locations {
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}

.disabled {
  pointer-events: none;
}

.top-button {
  padding: 0 10px;
}

