<div fxFlex="100%" fxLayout="row">
  <div fxFlex
       fxLayout="row">
    <kendo-splitter orientation="horizontal" style="height: 100%;">
      <kendo-splitter-pane [collapsible]="true" size="35%">
        <div class="locations-pane"
          fxFlex="100%"
          fxShow="true"
          fxShow.lt-md="false">
          <div class="header-row"
               fxLayout="row"
               fxLayoutAlign="start">
            <div>
              <a href="#" class="top-button" mat-button
                 [routerLink]="[{outlets:{primary: ['units'], map: ['units-map']}}]"
                 [routerLinkActive]="['active-locations']">
                UNITS
              </a>
            </div>
            <div [ngClass]="{'disabled': unitHistoryDisabled}">
              <a href="#" class="top-button" mat-button
                 [disabled]="unitHistoryDisabled"
                 [routerLink]="[{outlets:{primary: ['unit-history', deviceId], map: ['units-map']}}]"
                 [routerLinkActive]="['active-locations']">
                UNIT
              </a>
            </div>
            <div [ngClass]="{'disabled': unitInfoDisabled}">
              <a href="#" class="top-button" mat-button
                 [disabled]="unitInfoDisabled"
                 [routerLink]="[{outlets:{primary: ['unit-details', documentId], map: ['units-map']}}]"
                 [routerLinkActive]="['active-locations']">
                DETAILS
              </a>
            </div>
            <hr class="separator">
            <div [ngClass]="{'disabled': placesDisabled}">
              <a href="#" class="top-button" mat-button
                 [disabled]="placesDisabled"
                 [routerLink]="[{outlets:{primary: ['places'], map: ['places-map']}}]"
                 [routerLinkActive]="['active-locations']">
                LANDMARKS
              </a>
            </div>
            <div [ngClass]="{'disabled': placeDisabled}">
              <a href="#" mat-button
                 [disabled]="placeDisabled()"
                 [routerLink]="[{outlets:{primary: ['place'], map: ['place-map']}}]"
                 [routerLinkActive]="['active-locations']">
                LANDMARK
              </a>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </kendo-splitter-pane>
      <kendo-splitter-pane [collapsible]="true">
        <div class="map-pane">
          <router-outlet name="map"></router-outlet>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </div>
</div>
