<div [fxLayout]="fullView ? 'row' : 'column'">
  <mat-card>
    <mat-card-content>
      <div class="landmark"
           fxLayout="row"
           fxLayoutAlign="center">
        <form fxLayout="column"
              fxFlex.gt-xs="400px"
              [formGroup]="landmarkForm"
              (ngSubmit)="onSubmit()">
          <div class="active" fxLayout="row"
               fxLayoutAlign="end center">
            <mat-checkbox [formControl]="active">Active</mat-checkbox>
          </div>
          <mat-form-field floatLabel="always">
            <input type="text"
                   matInput
                   required
                   placeholder="Name (ID)"
                   formControlName="landmarkId">
            <mat-error>Missing Name.</mat-error>
          </mat-form-field>
          <!--      <mat-form-field floatLabel="always">-->
          <!--        <input type="text"-->
          <!--               matInput-->
          <!--               placeholder="Address"-->
          <!--               formControlName="address">-->
          <!--      </mat-form-field>-->
          <mat-form-field floatLabel="always">
            <input type="text"
                   matInput
                   required
                   placeholder="Latitude"
                   formControlName="latitude">
            <mat-error>Missing Latitude.</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input type="text"
                   matInput
                   required
                   placeholder="Longitude"
                   formControlName="longitude">
            <mat-error>Missing Longitude.</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input type="number"
                   matInput
                   required
                   placeholder="Fence Radius (meters)"
                   formControlName="radius">
            <mat-error>Missing Fence Radius.</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <input type="text"
                   matInput
                   required
                   placeholder="Color"
                   formControlName="color">
            <mat-error>Missing Color.</mat-error>
          </mat-form-field>
          <fieldset class="address">
            <legend>Address (Use with Preview to obtain coordinates)</legend>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Street Number"
                     formControlName="subThoroughfare">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Street"
                     formControlName="thoroughfare">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="City"
                     formControlName="locality">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="State"
                     formControlName="area">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Postal Code"
                     formControlName="postalCode">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Country"
                     formControlName="countryName">
            </mat-form-field>
          </fieldset>
          <div fxLayout="column" *ngIf="!createLandmark">
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Modified"
                     [readonly]="true"
                     formControlName="modifiedAt">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <input type="text"
                     matInput
                     placeholder="Created"
                     [readonly]="true"
                     formControlName="createdAt">
            </mat-form-field>
          </div>
          <mat-form-field floatLabel="always">
             <textarea type="text"
                       rows="1"
                       matInput
                       placeholder="Notes"
                       formControlName="comment">
             </textarea>
          </mat-form-field>
          <div class="error" fxLayoutAlign="center start">
            {{msg}}
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around start">
            <button type="button"
                    mat-raised-button
                    color="primary"
                    (click)="onCancel()">
              Cancel
            </button>
            <button *ngIf="createLandmark"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="onClear()">
              Clear
            </button>
            <button *ngIf="!createLandmark"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="onDelete()">
              Delete
            </button>
            <button type="button"
                    mat-raised-button
                    color="primary"
                    (click)="onPreview()">
              Preview
            </button>
            <button type="submit" mat-raised-button color="primary"
                    [disabled]="landmarkForm.invalid || (landmarkForm.pristine && active.pristine)">
              Save
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="landmark-map" fxFlex="100">
    <app-landmark-map></app-landmark-map>
  </div>
</div>
