<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Lists the notifications produced due to landmark arrival and departure subscriptions.
    </p>
    <p>
      Selectively delete notifications by checking the check-box before clicking the <i>Delete</i> button.
    </p>
    <p>
      Double-click on a notification table row to see all available details for that notification.
    </p>
    <p>
      To see the conditions set up for receiving notifications and for defining new notifications, go to <i>SETUP - Notification
      Subscriptions/Add Subscriptions</i>.
    </p>
  </div>
</div>
