.title {
  margin: 20px;
  height: 1vh;
  text-align: center;
  font-weight: bold;
  color: gray;
}

.list {
  margin: 10px 0;
}

.item {
  height: 30px !important;
}

.item-name {
  color: gray;
  width: 150px;
  font-size: smaller;
}

.item-value {
  width: 400px;
  font-size: smaller;
}

.return-btn {
  text-align: center;
  margin: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
}
