<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      Shows service time expiration, resource, and transaction limits defined for the current account.
    </p>
    <p>
      <i>Service Expiration</i>: When the limit is reached, no more input events will be accepted for the account.
    </p>
    <p>
      <i>Devices</i>: When the limit is reached, no more devices can be added to the account.
    </p>
    <p>
      <i>Landmarks</i>: When the limit is reached, no more landmarks can be added to the account.
    </p>
    <p>
      <i>Users</i>: When the limit is reached, no more users can be added to the account.
    </p>
    <p>
      <i>Notification Subscribers</i>: When the limit is reached, no more notification subscribers can be added to the account.
    </p>
    <p>
      <i>Events/Month</i>: When the limit is reached, no more input events will be accepted for the current month.
    </p>
    <p>
      <i>Notifications/Month</i>: When the limit is reached, no more notifications will be triggered for the current month.
    </p>
    <p>
      <i>Notifications Emails/Month</i>: When the limit is reached, no more notifications emails will be sent for the current month.
    </p>
    <p>
      <i>Notifications Texts/Month</i>: When the limit is reached, no more notifications texts will be sent for the current month.
    </p>
    <p>
      Service limits are set using the <i>SETUP - All Accounts</i> selection.
    </p>
  </div>
</div>
