<div class="device" fxLayoutAlign="center">
  <form fxFlex.gt-xs="400px"
        fxLayout="column"
        [formGroup]="deviceFormGroup"
        (ngSubmit)="onSubmit()">
    <div class="active" fxLayout="row"
         fxLayoutAlign="end center">
      <mat-checkbox [formControl]="active">Active</mat-checkbox>
    </div>
    <mat-form-field floatLabel="always">
      <input type="text"
             required
             matInput
             placeholder="Name"
             formControlName="name">
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <input type="text"
             required
             matInput
             placeholder="Device ID"
             formControlName="deviceId">
      <mat-error>Missing Device ID.</mat-error>
    </mat-form-field>
    <div fxLayout="column" *ngIf="!createDevice">
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Modified"
               [readonly]="true"
               formControlName="modifiedAt">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Created"
               [readonly]="true"
               formControlName="createdAt">
      </mat-form-field>
    </div>
    <fieldset class="icon" fxLayout="column">
      <legend>Map Marker Icon</legend>
      <div #mapContainer id="map"></div>
      <mat-form-field>
        <mat-label>Shape</mat-label>
        <mat-select [(value)]="selectedShape"
                    (selectionChange)="onShapeChange($event)">
          <mat-option value="google.maps.SymbolPath.FORWARD_CLOSED_ARROW">Closed Arrow</mat-option>
          <mat-option value="google.maps.SymbolPath.FORWARD_OPEN_ARROW">Open Arrow</mat-option>
          <mat-option value="google.maps.SymbolPath.CIRCLE">Circle</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Scale"
               formControlName="scale"
               (ngModelChange)="onScaleChange($event)">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Fill Color (CSS3)"
               formControlName="fillColor"
               (ngModelChange)="onFillColorChange($event)">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Fill Opacity (0.0 - 1)"
               formControlName="fillOpacity"
               (ngModelChange)="onFillOpacityChange($event)">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Outline Color (CSS3)"
               formControlName="strokeColor"
               (ngModelChange)="onStrokeColorChange($event)">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Outline Opacity (0.0 - 1)"
               formControlName="strokeOpacity"
               (ngModelChange)="onStrokeOpacityChange($event)">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input type="text"
               matInput
               placeholder="Outline Weight"
               formControlName="strokeWeight"
               (ngModelChange)="onStrokeWeightChange($event)">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-checkbox class="default-icon" [formControl]="useDefaultIcon">Use Default Icon</mat-checkbox>
        <button [ngClass]="'make-default-button'"
                type="button"
                color="primary"
                mat-stroked-button
                (click)="onDefaultMarkerIcon()">
          Make This the Default Icon
        </button>
      </div>
    </fieldset>
    <mat-form-field floatLabel="always">
         <textarea type="text"
                   rows="1"
                   matInput
                   placeholder="Notes"
                   formControlName="comment">
         </textarea>
    </mat-form-field>
    <div class="error" fxLayoutAlign="center start">
      {{msg}}
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <button type="button"
              mat-raised-button
              color="primary"
              (click)="onCancel()">
        Cancel
      </button>
      <button type="button"
              mat-raised-button
              color="primary"
              (click)="onClear()">
        Clear
      </button>
      <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="deviceFormGroup.invalid || (
              deviceFormGroup.pristine &&
              active.pristine)">
        Save
      </button>
    </div>
  </form>
</div>
