<div>
  <div class="help-page">{{classRef.page}}</div>
  <div class="help-text">
    <p>
      The setup interfaces are used for managing the application and its accounts.
    </p>
    <p>
      Users with <i>Principal View</i> access can, within the scope of their assigned user roles, view and manage the application
      accounts, users, and devices. Permitted users obtain this view by selecting <i>Principal</i> on the main menu bar
      account drop-down menu.
    </p>
    <p>
      Users with <i>Account View</i> access can, also within the scope of their assigned user roles, view and manage resources
      within the accounts to which they belong.
    </p>
  </div>
</div>
