<div *ngIf="serviceStatus$ | async as status; else loading">
  <div fxLayout="column"
       fxLayoutAlign="start stretch">
    <div class="mat-elevation-z4"
         fxFlexFill>
      <mat-grid-list class="list" cols="3" rowHeight="30px">
        <div class="header">
          <mat-grid-tile>
            <div class="name">Resource Name</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="value">Currently Used</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="value">Limit</div>
          </mat-grid-tile>
        </div>
        <div class="row" *ngFor="let row of status">
          <mat-grid-tile>
            <div class="name"
                 [class.alert]="isSpent(row.currentValue, row.maxValue)">{{constraintNames.get(row.constraintId)}}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="value">{{row.currentValue}}</div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="value">{{row.maxValue}}</div>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
