.event {
  margin: 20px 0;
}

form {
  width: 100%;
}

.column {
  width: 40%;
  margin:  30px 0;
}

.address {
  margin: 0 0 15px 0;
  padding-top: 15px;
  padding-left: 5px;
  border-width: 1px;
}

fieldset legend {
  color: gray;
  font-size: 11px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
}

.clear-button {
  margin: 0 40px;
}
